<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>GroupDocs.Total for .NET MVC</title>
    <link type="text/css" rel="stylesheet" href="/resources/common/css/all.min.css">
    <link type="text/css" rel="stylesheet" href="/resources/common/css/v4-shims.min.css">
    <link type="text/css" rel="stylesheet" href="/resources/total/css/total.css" />
</head>
<body>
    <div id="container">
        <div id="header">
            <h2>GroupDocs.Total for .NET MVC Example</h2>
            <h3>Manipulate documents within your desktop solutions and web apps without requiring any other commercial application through GroupDocs APIs</h3>
        </div>
        <div id="middle">
            <ul>
                <li>
                    <a href="viewer">
                        <img src="/resources/total/images/groupdocs-viewer.png" />
                        <div>
                            <h5>GroupDocs</h5>
                            <h6>Viewer</h6>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="signature">
                        <img src="/resources/total/images/groupdocs-signature.png" />
                        <div>
                            <h5>GroupDocs</h5>
                            <h6>Signature</h6>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="annotation">
                        <img src="/resources/total/images/groupdocs-annotation.png" />
                        <div>
                            <h5>GroupDocs</h5>
                            <h6>Annotation</h6>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="comparison">
                        <img src="/resources/total/images/groupdocs-comparison.png" />
                        <div>
                            <h5>GroupDocs</h5>
                            <h6>Comparison</h6>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="conversion">
                        <img src="/resources/total/images/groupdocs-conversion.png" />
                        <div>
                            <h5>GroupDocs</h5>
                            <h6>Conversion</h6>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="metadata">
                        <img src="/resources/total/images/groupdocs-metadata.png" />
                        <div>
                            <h5>GroupDocs</h5>
                            <h6>Metadata</h6>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="search">
                        <img src="/resources/total/images/groupdocs-search.png" />
                        <div>
                            <h5>GroupDocs</h5>
                            <h6>Search</h6>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="">
                        <img src="/resources/total/images/groupdocs-text-d.png" />
                        <div class="coming-soon">
                            <h5>GroupDocs</h5>
                            <h6>Text</h6>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="">
                        <img src="/resources/total/images/groupdocs-watermark-d.png" />
                        <div class="coming-soon">
                            <h5>GroupDocs</h5>
                            <h6>Watermark</h6>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="editor">
                        <img src="/resources/total/images/groupdocs-editor.png" />
                        <div>
                            <h5>GroupDocs</h5>
                            <h6>Editor</h6>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="">
                        <img src="/resources/total/images/groupdocs-assembly-d.png" />
                        <div class="coming-soon">
                            <h5>GroupDocs</h5>
                            <h6>Assembly</h6>
                        </div>
                    </a>
                </li>
            </ul>
        </div>
        <div id="bottom">
            <ul id="social">
                <li><a href="https://www.facebook.com/GroupDocsApp"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                <li><a href="https://twitter.com/groupdocs"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                <li><a href="https://www.youtube.com/channel/UCSRRI9t9ooReVo82e1d1a0g"><i class="fa fa-youtube" aria-hidden="true"></i></a></li>
                <li><a href="https://plus.google.com/+GroupDocs"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                <li><a href="https://www.linkedin.com/company/groupdocs/"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                <li><a href="http://stackoverflow.com/questions/tagged/groupdocs"><i class="fa fa-stack-overflow" aria-hidden="true"></i></a></li>
                <li><a href="https://groupdocs.github.io/"><i class="fa fa-github" aria-hidden="true"></i></a></li>
                <li><a href="https://blog.groupdocs.com/feed/"><i class="fa fa-rss" aria-hidden="true"></i></a></li>
            </ul>
            <ul id="links">
                <li><a href="https://www.groupdocs.com/">GroupDocs</a></li>
                <li><a href="https://products.groupdocs.com/">Products</a></li>
                <li><a href="https://downloads.groupdocs.com/">Downloads</a></li>
                <li><a href="https://purchase.groupdocs.com/pricing">Pricing</a></li>
                <li><a href="https://docs.groupdocs.com/dashboard.action">Docs</a></li>
                <li><a href="https://forum.groupdocs.com/">Free Support</a></li>
                <li><a href="https://helpdesk.groupdocs.com/">Paid Support</a></li>
            </ul>
            <div id="copyrights">&copy; Aspose Pty Ltd 2001-2018. All Rights Reserved.</div>
        </div>
    </div>
</body>
</html>