@{
    GroupDocs.Total.MVC.Products.Common.Config.GlobalConfiguration config = new GroupDocs.Total.MVC.Products.Common.Config.GlobalConfiguration();
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1" />
    <title>Viewer for .NET MVC</title>
    <link rel="icon" type="image/x-icon" href="/resources/angular/viewer/favicon.ico" />
</head>
<body>
    <client-root></client-root>
    <script src="/resources/angular/viewer/polyfills-es2015.js" type="module"></script>
    <script src="/resources/angular/viewer/polyfills-es5.js" nomodule></script>
    <script src="/resources/angular/viewer/runtime-es2015.js" type="module"></script>
    <script src="/resources/angular/viewer/runtime-es5.js" nomodule></script>
    <script src="/resources/angular/viewer/styles-es2015.js" type="module"></script>
    <script src="/resources/angular/viewer/styles-es5.js" nomodule></script>
    <script src="/resources/angular/viewer/vendor-es2015.js" type="module"></script>
    <script src="/resources/angular/viewer/vendor-es5.js" nomodule></script>
    <script src="/resources/angular/viewer/main-es2015.js" type="module"></script>
    <script src="/resources/angular/viewer/main-es5.js" nomodule></script>
    <script src="/resources/angular/viewer/styles-es2015.js" type="module"></script>
    <script src="/resources/angular/viewer/styles-es5.js" nomodule></script>
</body>
</html>