@{
    GroupDocs.Total.MVC.Products.Common.Config.GlobalConfiguration config = new GroupDocs.Total.MVC.Products.Common.Config.GlobalConfiguration();
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1" />
    <title>Parser for .NET MVC</title>
    <link rel="icon" type="image/x-icon" href="/resources/angular/parser/favicon.ico" />
</head>
<body>
    <client-root></client-root>
</body>
</html>